.App {
  text-align: center;
}

.mixer__groups{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

h1{
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 5px 5px 10px black;
  cursor: pointer;
  opacity: .5;
  transition: all .3s;
}

h1:hover{
  background: black;
  color: white;
  opacity: 1;
}

.mixer__result{
  width: 100%;
  margin-top: 20px;
}

p{
  margin: 0;
  font-size: 14px;
}
